:root {
  --clr-app-bg: #f5f8fa;
  --clr-bdr: #cfd7dd;

  --clr-app-primary: #2da44e;

  --clr-app-danger: #da3633;
  --clr-app-danger-translucent: rgb(218 54 51 / 25%);

  --bdr-rad-def: 0.25rem;

  --dur-short: 0.25s;
}